<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button title="back"></ion-back-button>


    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Name" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>

    </ion-item>

      <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" type="email"></ion-input>

      </ion-item>
      <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>

      </ion-item>
      <ion-item>
        <ion-input label="Confirm password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>

    </ion-item>
    <ion-item>
      <ion-input label="Phone number" labelPlacement="floating" placeholder="Enter text" type="tel"></ion-input>

  </ion-item>
  </ion-card-content>

  </ion-card>
  <ion-button color="light"  size="full" (click)="register()">Register</ion-button>

</ion-content>
