<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>VideoList</ion-title> -->
    <ion-searchbar placeholder="Search by title" class="custom-searchbar" [(ngModel)]="searchQuery" (keyup.enter)="onSearchInput($event)" ></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VideoList</ion-title>
    </ion-toolbar>
    <!-- <app-video-filter [categories]="labels" (categorySelected)="handleGenreSelection($event)"></app-video-filter> -->

  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let movie of movies">
        <!-- <ion-card class="movie-card" (click)="openVideoPlayer(movie.id)"> -->
          <ion-card class="movie-card" (click)="modalService.openMovieModal(movie)">

          <ion-img [src]="movieService.getMovieImageUrl(movie.poster_path)" alt="{{ movie.title }}"></ion-img>
          <ion-card-content>
            <ion-card-title>{{  movie.title }}</ion-card-title>

            <ion-card-subtitle>{{ movie.release_date | date:'yyyy'  }}</ion-card-subtitle>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingText="Loading..."
      loadingSpinner="crescent"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="light" >
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
