.movie-card {
    height: 370px; 
    overflow: hidden;
  }
  
  .movie-card ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .movie-card ion-img {
    height: 300px; 
    object-fit: cover; 
  }