.movie-card {
    height: 370px; 
    overflow: hidden;
  }
  
  .movie-card ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .movie-card ion-img {
    height: 300px; 
    object-fit: cover; 
  }
  .custom-searchbar {
    background-color: #838383; 
    color: #333; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto;
  }

  ion-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
  }
  
  ion-fab-button {
    
    transition: transform 0.3s ease; 
  }
  
  ion-fab-button:hover {
    transform: scale(1.05);
  }