<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="selectedGenre !== ''"  (click)="clearGenreSelection()">
        <ion-icon name="arrow-back-circle" size="large" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="Search by title" class="custom-searchbar" [(ngModel)]="searchQuery" (keyup.enter)="onSearchInput($event)" ></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let movie of movies">
          <ion-card class="movie-card" (click)="modalService.openMovieModal(movie)">

          <ion-img [src]="movieService.getMovieImageUrl(movie.poster_path)" alt="{{ movie.title }}"></ion-img>
          <ion-card-content>
            <ion-card-title>{{  movie.title }}</ion-card-title>
            <ion-row class="movie-subtitle" >
            <ion-card-subtitle>{{ movie.release_date | date:'yyyy'  }}</ion-card-subtitle>
            <ion-icon [name]="isHeartFilled ? 'heart' : 'heart-outline'"
            aria-hidden="true"
            color="primary"
            size="large"
            (click)="toggleHeart()"></ion-icon>
                                </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingText="Loading..."
      loadingSpinner="crescent"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()" color="light" >
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
